.about-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    margin-top: 0;
  }
  
  .about-p {
    max-width: 600px;
    margin: auto;
    color: #8eb5bd;
  }
  